<div class="row">
  <div class="col-4">
    <label>First name:</label>
  </div>
  <div class="col-8">
    <input *ngIf="selectedContact" matInput disabled [(ngModel)]="selectedContact.firstName" class="input"/>
  </div>
</div>
<div class="row">
  <div class="col-4">
    <label>Last name:</label>
  </div>
  <div class="col-8">
    <input *ngIf="selectedContact" matInput disabled [(ngModel)]="selectedContact.lastName" class="input"/>
  </div>
</div>
<div class="row">
  <div class="col-4">
    <label>Phone number:</label>
  </div>
  <div class="col-8">
    <input *ngIf="selectedContact" matInput disabled [(ngModel)]="selectedContact.phoneNumber" class="input"/>
  </div>
</div>