<div class="row">
  <div class="col-4">
    <label>First name:</label>
  </div>
  <div class="col-8">
    <!-- <mat-form-field> -->
      <input matInput *ngIf="selectedContact" [(ngModel)]="selectedContact.firstName" class="input" />
    <!-- </mat-form-field> -->
  </div>
</div>

<div class="row">
  <div class="col-4">
    <label>Last name:</label>
  </div>
  <div class="col-8">
    <!-- <mat-form-field> -->
      <input *ngIf="selectedContact" matInput [(ngModel)]="selectedContact.lastName" class="input" />
    <!-- </mat-form-field> -->
  </div>
</div>

<div class="row">
  <div class="col-4">
    <label>Phone number:</label>
  </div>
  <div class="col-8">
    <!-- <mat-form-field> -->
      <input *ngIf="selectedContact" matInput [(ngModel)]="selectedContact.phoneNumber" class="input" />
    <!-- </mat-form-field> -->
  </div>
</div>

<div class="row">
  <div class="col-4">
    <button mat-button (click)="editContact()">Edit contact</button>
  </div>
</div>