<div class="row">
  <div class="col-12">
    <label>First name *:</label>
  </div>
  <div class="col-12">
    <input *ngIf="selectedContact" matInput [(ngModel)]="selectedContact.firstName" class="input" />
  </div>
</div>

<div class="row">
  <div class="col-12">
    <label>Last name:</label>
  </div>
  <div class="col-12">
    <input *ngIf="selectedContact" matInput [(ngModel)]="selectedContact.lastName" class="input" />
  </div>
</div>

<div class="row">
  <div class="col-12">
    <label>Phone number *:</label>
  </div>
  <div class="col-12">
    <input *ngIf="selectedContact" matInput [(ngModel)]="selectedContact.phoneNumber" class="input" />
  </div>
</div>

<div class="row">
  <div class="col-4">
    <button mat-button (click)="editContact()">Edit contact</button>
  </div>
</div>