<div class="row">
  <div class="col-12">
    <label>First name *:</label>
  </div>
  <div class="col-12">
    <input *ngIf="newContact" matInput [(ngModel)]="newContact.firstName" class="input"/>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <label>Last name:</label>
  </div>
  <div class="col-12">
    <input *ngIf="newContact" matInput [(ngModel)]="newContact.lastName" class="input"/>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <label>Phone number *:</label>
  </div>
  <div class="col-12">
    <input *ngIf="newContact" matInput [(ngModel)]="newContact.phoneNumber" class="input"/>
  </div>
</div>

<div class="row">
  <div class="col-4">
    <button mat-button (click)="addContact()">Add new contact</button>
  </div>
</div>